[package]
name = "otp"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
libc = "0.2"
argon2 = "0.5"
chacha20 = "0.9"
rpassword = "7.3"
zeroize = "1.8"